/bin/
/test-output/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
